<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" content="FT中文网">
  <meta name="robots" content="index,follow">
  <meta name="author" content="ftc">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" /> 
  <meta property="og:title" content="{{ header.pageTitle }}"/>
  <meta property="og:description" content="{{ description }}" />

  {% set iconsPath = "/bower_components/ftc-logos/static/favicons" %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{iconsPath}}/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{iconsPath}}/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{iconsPath}}/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{iconsPath}}/apple-touch-icon-76x76.png">
  <link href="{{iconsPath}}/favicon.ico" type="image/x-icon" rel="shortcut icon" />
  <title>ftc-table{% if pageTitle %}: {{ pageTitle }}{% endif %} demo</title>
  <link rel="stylesheet" type="text/css" href="styles/{{css}}">
</head>

<body>
{% block table %}
{% endblock %}
<script type="text/javascript" src="scripts/{{js}}"></script>
</body>
</html>
