{% extends "base.html" %}

{% block table %}
<table class="ftc-table ftc-table--row-stripes" data-ftc-component="ftc-table" data-ftc-table--no-js data-ftc-table--wrapped data-ftc-table--wrapper-width="100%" data-ftc-table--wrapper-height="180px"> 
  {#<!-- 这里注意如果使用样式 ftc-table--vertical-lines, 那么滚动后thead之间的分隔border会消失 TODO:待解决这个问题 -->#}
  <thead>
    <tr>
      {% for item in table.thead %}
        <th aria-sort={{item.ariaSort}} data-ftc-table--datatype={{item.datatType}}>
          {{item.content}}
          <span class="ftc-table__cell--content-secondary">
            {{item.contentSub}}
          </span>
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for tr in table.tbody %}
    <tr>
      {% for td in tr%}
      <td class={{td.class}}>
        {{td.content}}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}