@mixin ftcTableBase {
  background:transparent;
  color:#33302e;
  border-collapse: collapse;
  margin: 0 0 20px;
  width: 100%;

  caption {
    margin:0;
    padding:0;
    width:100%;
  }
  th,td {
    padding:8px;
    text-align: left;
    vertical-align: top;
    font-size:18px;
  }
  th {
    font-weight: bold;
  }

  thead th:not([data-ftc-table--disablesort]) {
    cursor:pointer;
    user-select: none;
    padding-right: 20px;
    &[aria-sort='none']::after {
      background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrows-up-down?source=o-icons&format=svg);
      @include sortSymbolStyle;
    }
    &[aria-sort='ascending']::after, &[aria-sort='none']:hover::after {
      background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-up?source=o-icons&format=svg);
      @include sortSymbolStyle;
    }
    &[aria-sort='descending']::after {
      background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-down?source=o-icons&format=svg);
      @include sortSymbolStyle;
    }
    
  }
 
  
}

@mixin sortSymbolStyle {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  background-color: transparent;
  content: '';
  margin-right: -20px;
  vertical-align: top;
}