/// Add row stripes to table
@mixin ftcTableRowStripes {
  background:#fff1e5;
  thead th {
    background:#fff1e5; //防止scroll的时候会透出滚上来的tbody内容
  }

  caption {
    background:#fff1e5;
  }

  tbody tr:nth-child(even) {
    background:#f2dfce;
  }
}